a {
  text-decoration: none;
}

.d-flex {
  display: flex;
}

.align-items-center {
  align-items: center;
}

.justify-content-center {
  justify-content: center;
}
.justify-content-around {
  justify-content: space-around;
}

.justify-content-betwen {
  justify-content: space-between;
}

.ml-60 {
  margin-left: 60px;
}
