.hotels__container {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 40px 20px;
}

/*  HOTEL ITEM
=========================================================  */
@import url(./hotel-item.css);
