*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --mainColor: #593096;
  --white-main: white;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

.home__wrapper,
.detail-hotel__wrapper {
  margin: 20px auto;
  padding: 12px;
  max-width: 1180px;
}
/* GLOBAL STYLES
============================================================ */
@import url(./global.css);

/* HEADER STYLES 
============================================================ */
@import url(./header.css);

/* HOTEL STYLES
============================================================= */
@import url(./hotels.css);

@import url(./brand-fliter.css);
